

body {font-family: Ubuntu, Verdana, Tahoma, sans-serif;
      padding-left:20%;
      padding-right:20%;
    }
header {border-radius: none;
        display:flex;
        flex-direction:column;
        align-content:center;
        justify-content: center;
        color:white;
        background-color:#32b5aa;
        text-align: center;}


footer {border-radius: none;
        color:white;
        background-color:#32b5aa;
        text-align: center;
        margin-top:2rem;
        padding-top: 2rem;
        padding-bottom:2rem;

        }

h2 {margin-top:5%;
    }

#line {background-color: black; 
    height:1.5px; 
}

h1 {color:white; 
    font-size: 30px;
    text-align: center;}

li {font-size: 14px;
    margin-bottom:1rem;
}


#flright {box-shadow:0px 0px 12px 1px #000000;
    margin: auto;
}

#shade {box-shadow:5px 10px black;}


#wp,#year,#whitelink {text-align: center; 
    color:white;
    padding-top:50px;}

#wp {
font-size: 12px;}

#yp {
color:yellow;
text-align:center; 
font-size: 11px;


}