

body {font-family: Ubuntu, Verdana, Tahoma, sans-serif;

}

header {

    color:#ffffff;
    background-color:#32b5aa;
    text-align: center;
}

h1,h2, p {text-align: center;
  
}

#banner{  display:none;
      background-color: #f7b32b;
      height: 50px;
      border: solid;
      text-align: center;
      line-height: 1.5rem;
      font-size: 18px;
      }

main div{ display:grid;
        grid-template-columns: 1fr;        
        background-color: #32b5aa;
        box-shadow: 0rem 0rem 0.5rem 0.1rem #000000;
        padding:3rem;
        margin:1rem;
      }

div section:nth-child(1){order:3;}
div section:nth-child(2){order:1;}
div section:nth-child(3){order:2;}

main div img{
    display:block;
    width: 250px;
    height:300px;
    margin-right: auto;
    margin-left: auto ;
    padding-bottom: 1rem;

}

section{
        border: solid 1px #000000;
        margin:0.25rem;
        background-color:#ffffff;
        box-shadow:0rem 0rem 0.5rem 0.1rem #000000;

      }

.navigation li:first-child{display:block;}

.navigation li{display:none;}


    
    nav a  {display: block;
      color:white;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      font-size:15px;

      }

nav ul  {display: flex;
      flex-direction:column;
      list-style-type: none;
      margin:0;
      padding:0;
      overflow: hidden;

      }

nav li  {flex: 1 1 100%;}

nav a:hover{color: black;
      background-color:#f7b32b;
      border-color: #d71920;
      }

nav a:active{color: #f7b32b;
    background-color:white;
    }



footer {
    color:white;
    background-color:#32b5aa;
    text-align: center;
    padding: 1rem;

  
  }

h2, h4 {text-align: center;
  
}

.heatainer{
            display:flex;
            align-content: center;
            justify-content: center;
          
          }


h1 {color:white; 
font-size: 30px;
text-align: center;
padding-top:1rem;
margin-bottom: -1rem;
}

li {font-size: 14px;
margin-bottom:0px;}

#wp,#year,#whitelink {text-align: center; 
                  color:white;
                  padding-top:50px;}

#wp {
font-size: 12px;}

.AH3 {

      text-align:center;
}

#yp {
      color:yellow;
      text-align:center; 
      font-size: 11px;
      

}

.responsive li:first-child {
  background-color:#000000;

}

.responsive a{color:#ffffff;}

.responsive li {
  display:block;
  background-color:#d71920;

}

.top img{ 
            margin-top: auto;
            margin-left: auto;
            padding-top: 20px;
            float:right;
}

.top {
      display:grid;
      grid-template-columns: 1fr;
      margin: 0.51rem;
      color:white;  

}



.article{text-align:justify;}


.current{background-color: #d71920;}



/*
.hero-image{
            width: 100%;
            height: 100%;

}
CSS above doesn't apply to my HTML unless directly apply through style atribute on image.
*/


