@media only screen and (min-width: 39.5em){


.navigation li:first-child{display:none;}

.navigation li{display:block;}


 nav  { padding-right:10%;
        padding-left:10%;
        background-color:#0b423e;
        border:none;}

nav ul {    flex-direction:row;
}

.AH3 {text-align:left;}

.firstcon{display:block;}


div .scleft img{
                width:30%;
                margin-left:1rem;
                padding-bottom:5rem;
                padding-top:3rem;
                float:right;


}

.scleft, .scright{margin:1rem;}

.scleft {margin-right:2rem;
            padding-top: 15px;        
}


.focust{text-align:center;}

.wfparent{  display:grid;
            max-width: 700px;
            margin: 0 auto;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.wfparent .wfchildren{  margin:0.1rem;
                        padding: 0rem;
                        margin-top:0;
                        margin-bottom:1rem;
                        text-align: center;
                        background-color:white;
                        font-size:50px;
                        box-shadow: 2px 2px 5px black;
                        

}

.innertext{font-size:16px;
            
}

.thirdcon{padding-bottom:7rem;
          }

.map {  float:left;
        margin:1rem;
        width: 35%;
        padding-top: 3rem;
}

.contacts {
        margin-top:8rem;
        text-align: center;
}

.details{   margin-left: 1rem;
            font-size:14px; 
            text-align: center;
               
}


.hero-cd{
        margin-top:-210px;
        padding:1rem;
        width:145px;
        height:155px;
        font-size: 14px;
        margin-left: 20px;
  }
  
.hero-cd-heading{font-size:14px;}

.contentwrapper {           padding-left:10%;
                            padding-right:10%;
                            }
                        

.hero-cd-heading{font-size: 17px;}

#banner {display: none;
        line-height: 2.5rem;}
                        

.forcast{
        font-size:19px;
        margin: 0;
        Padding-top:1.5rem;
        padding-bottom: 0.8rem;
        background-color: #d71920;
        color:white;

}

.firstcon, .tcleft{display:block;}

}