@media only screen and (min-width: 60em){
    

.secondcon {padding-bottom: 4rem;

}


.tpMain{
  grid-template-columns: 1fr 1fr 1fr;
}
div .scleft img{
    width:30%;
    padding:0;
    margin-top:0;
    margin-left:2rem;
    height:auto;

}


}