@media only screen and (min-width: 39.5em){


.navigation li:first-child{display:none;}

.navigation li{display:block;}


 nav  { margin-right:10%;
        margin-left:10%;
        background-color:#000000;
        color: #ffffff;
        border:none;}

nav a {
        color: #ffffff;
        
        }

nav ul {    flex-direction:row;
}



.tpMain{
        grid-template-columns: 1fr 1fr;
}

.hero-cd{
        margin-top:-210px;
        padding:1rem;
        font-size: 14px;
  }
  
.hero-cd-heading{font-size:14px;}

                        

.hero-cd-heading{font-size: 17px;}

.sub{
        display:flex;
        flex-direction:column;
}

.sub li:first-child {
        background-color:#000000;
        display:block;
      
      }

.sub li {
        display:none;
        background-color:#a25c45;
      
      }

.respond li {
        display:block;
        background-color:#a25c45;
      
      }

}