

body {
  font-family: Ubuntu, Verdana, Tahoma, sans-serif;
  background-color: #a9c3cc;
}

header {

    color:#ffffff;
    background-color:#4f5a5e;
    text-align: center;
}


.navigation li:first-child{display:block;}

.navigation li{display:none;}


    
    nav a  {display: block;
      color:#ffffff;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      font-size:15px;

      }

nav ul  {display: flex;
      flex-direction:column;
      list-style-type: none;
      margin:0;
      padding:0;
      overflow: hidden;

      }

button{
  background-color: #a25c45;
  color:#000000;
  border-radius: 1rem;
  width: 100px;
  height: 2.5rem;
  border-color:#a25c45;
}

button:hover{
  background-color: #ffffff;
  color: #000000;
  border-color:#ffffff;
  box-shadow: 0px 0px 10px 5px #000000;
}

a button{text-decoration: none;}

a button  {
  color:#ffffff;
  text-decoration: none;
}

a button :hover{
  color: #000000;
}

nav li  {flex: 1 1 100%;}


nav a:hover{color: #000000;
      background-color:#e1f9c9;
      }

nav a:active{color: #a25c45;
    background-color:white;
    }



footer {
    color:#ffffff;
    background-color:#4f5a5e;;
    text-align: center;
    padding: 1rem;

  
  }

h2, h4 {text-align: center;
  
}

.firstcon, .secondcon, .thirdcon{ border:0.01rem #000000 solid ;
                                  margin-top:1.2rem;
                                  background-color: #a9c3cc;
                                  padding-right:0.5rem;
                                  padding-left:0.5rem;
}

.firstcon, .tcleft{display:none;}



.logocont{
            display:block;
            align-content: center;
            justify-content: center;
          
          }
.logocont .logo{
  margin-bottom:-2rem;
  padding: -2rem;
}

h1 {color:#ffffff; 
font-size: 30px;
text-align: center;
padding-top:0rem;
margin-bottom: -1rem;
}

li {font-size: 14px;
margin-bottom:0px;}

#wp,#year,#whitelink {text-align: center; 
                  color:#ffffff;
                  padding-top:50px;}

#wp {
font-size: 12px;}

#yp {
      color:#a9c3cc;
      text-align:center; 
      font-size: 11px;
      

}

.responsive li:first-child {
  background-color:#a25c45;

}

.responsive a{color:#ffffff;}

.responsive li {
  display:block;
  background-color:#4f5a5e;

}

.hero-div{
          height: auto;
          background-size:contain;
          
}

.hero-cd{
  position: absolute;
  width: 70%;
  margin-left: 12%;
  height:auto;
  font-size:10px;
  background:radial-gradient(#ffffff, #4f5a5e );
  opacity: 0.80;
  margin-top: -150px;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 5px #000000;
}

div .hero-cd th{margin:0;
                      text-align:center;
                      border-bottom: solid;
                      border-width: 0.7px;
                      font-size: 14px;
}

.summary{
  padding: 5%;
  background-color:#a25c45;
}

.tpMain, .bodive2{
  display: grid;
  text-align:center;
  grid-template-columns: 1fr;
  background-color:#ffffff;
}

.tpMain div{
 margin-left:auto;
 margin-right: auto;
 padding-top:2rem;
 padding-bottom:2rem;
}

.tpMain div img{
  width: 80%;
  height: auto;
}

.tpMain div img:hover{
  box-shadow:0 0 15px 5px #000000;
}

.article{text-align:justify;}
.AH3 {text-align:center;}
.details, .contacts{text-align: center;}

#current{background-color: #a25c45;}

.scright, .scleft{margin: 0.51rem;}


.scright h3 {margin-bottom:-1.3rem;}
.scright p em {font-size: 10px;}

