

body {
  font-family: tahoma, Cambria, sans-serif;
  background-color: #ffffff;
}

p{
  font-family: Cambria;
  font-size: 16px;
  text-align: justify;
}

h1{
  font-size:30px;
  color:#000000; 
  text-align: center;

}

.h5{
  font-size:30px;
}

.h6{
  font-size:20px;
  margin-top:-3rem;

}

header {

    color:#ffffff;
    background-color:#4f5a5e;
    text-align: center;
}


.navigation li:first-child{display:block;}

.navigation li{display:none;}


    
    nav a  {display: block;
      color:#ffffff;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      font-size:15px;

      }

nav ul  {display: flex;
      flex-direction:column;
      list-style-type: none;
      margin:0;
      padding:0;
      overflow: hidden;

      }

button{
  background-color: #a25c45;
  color:#000000;
  border-radius: 1rem;
  width: 100px;
  height: 2.5rem;
  border-color:#a25c45;
}

form main{
  display: grid;
  grid-template-columns: 1fr;
  margin:5rem;
  padding: 5rem;
  padding-top:1rem;
  background-color:#a9c3cc;
  box-shadow: 0px 0px 10px 5px #000000;
}

.paraspace{
  text-align: center;
}

form input{
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

.center{
  text-align:center;
}

form #button{
  width:5rem;
  height:2rem;
  margin-top:2rem;
  margin-left:auto;
  margin-right:auto;
  background-color:#a25c45;
  color:#ffffff;
  border-radius: 10px;
}

form #button:hover{
  background-color:#000000;
  color:#ffffff;
}

button:hover{
  background-color: #ffffff;
  color: #000000;
  border-color:#ffffff;
  box-shadow: 0px 0px 10px 5px #000000;
}

a button{text-decoration: none;}

a button  {
  color:#ffffff;
  text-decoration: none;
}

a button :hover{
  color: #000000;
}

nav li  {flex: 1 1 100%;}


nav a:hover{color: #000000;
      background-color:#e1f9c9;
      }

nav a:active{color: #a25c45;
    background-color:white;
    }

figure img{
  width:400px;

}

.close{
  padding:1rem;
  display:grid;
  margin:1rem;
}
.close h2{
  text-align:left;
  padding-left: 1%;
  padding-right:1%;
}

.close h3{
  text-align:left;
  padding-left: 1%;
  padding-right:1%;
}

.close img{
  display:block;
  max-width: 100%;
  height:auto;
  margin-left: auto;
  margin-right:auto;

}

.close p{
  text-align:left;
  font-size:16px;
  width: 400px;

  padding-left: 1%;
  padding-right:1%;

}


.close :nth-child(1) img{
  float:none;
  margin-right:auto;
  margin-left:auto;
  }
  
.close :nth-child(2) img{
  float:none;
  margin-right:auto;
  margin-left:auto;
}

.close :nth-child(3) img{   
  float:none;
  margin-right:auto;
  margin-left:auto;
}

.close :nth-child(4) img{   
  float:none;
  margin-right:auto;
  margin-left:auto;
}
.close section:nth-child(1){   
    display:block;
    border: 1px solid #000000;
    margin: 0.5rem;

}

.close section:nth-child(2){   
  display:block;
  border: 1px solid #000000;
  margin: 0.5rem;


}

.close section:nth-child(3){   
  display:block;
  border: 1px solid #000000;
  margin: 0.5rem;


}

.close section:nth-child(4){   
  display:block;
  border: 1px solid #000000;
  margin: 0.5rem;

}

footer {
    color:#ffffff;
    background-color:#4f5a5e;;
    text-align: center;
    padding: 1rem;

  
  }

h2, h4 {text-align: center;
  
}

.logocont{
            display:block;
            align-content: center;
            justify-content: center;
          
          }
.logocont .logo{
  margin-bottom:-4rem;
  padding: -2rem;
}

h3{
  text-align: center;
}

li {font-size: 14px;
margin-bottom:0px;}

#wp,#year,#whitelink {text-align: center; 
                  color:#ffffff;
                  padding-top:50px;}

#wp {
font-size: 12px;}

#yp {
      color:#a9c3cc;
      text-align:center; 
      font-size: 11px;
      

}

.responsive li:first-child {
  background-color:#a25c45;

}

.responsive a{color:#ffffff;}

.responsive li {
  display:block;
  background-color:#4f5a5e;

}

.hero-div{
          height: auto;
          background-size:contain;
          
}

.hero-cd{
  position: absolute;
  width: 70%;
  margin-left: 12%;
  height:auto;
  font-size:10px;
  background:radial-gradient(#ffffff, #4f5a5e );
  opacity: 0.80;
  margin-top: -150px;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px 5px #000000;
}

div .hero-cd th{margin:0;
                      text-align:center;
                      border-bottom: solid;
                      border-width: 0.7px;
                      font-size: 14px;
}

.summary{
  padding: 5%;
  background-color:#ffffff;
}

.tpMain, .bodive2{
  display: grid;
  text-align:center;
  grid-template-columns: 1fr;
  background-color:#ffffff;
}

.tpMain div{
 margin-left:auto;
 margin-right: auto;
 padding-top:2rem;
 padding-bottom:2rem;
}

.tpMain div img{
  width: 80%;
  height: auto;
}

.tpMain div img:hover{
  box-shadow:0 0 15px 5px #000000;
}


.current{background-color: #a25c45;}


.sub{
  width:100%;
  align-content:center;

}


.sub li:first-child {
  background-color:#4f5a5e;
  display:block;

}

.sub li {
  display:none;


}

.respond li {
  display:block;
  background-color:#a25c45;

}


