

body {font-family: Ubuntu, Verdana, Tahoma, sans-serif;

}

header {

    color:#ffffff;
    background-color:#32b5aa;
    text-align: center;
}

.navigation li:first-child{display:block;}

.navigation li{display:none;}


    
    nav a  {display: block;
      color:white;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      font-size:15px;

      }

nav ul  {display: flex;
      flex-direction:column;
      list-style-type: none;
      margin:0;
      padding:0;
      overflow: hidden;

      }

nav li  {flex: 1 1 100%;}

nav a:hover{color: black;
      background-color:#f7b32b;
      border-color: #d71920;
      }

nav a:active{color: #f7b32b;
    background-color:white;
    }



footer {
    color:white;
    background-color:#32b5aa;
    text-align: center;
    padding: 1rem;

  
  }

h2, h4 {text-align: center;
  
}

.firstcon, .secondcon, .thirdcon{ border:0.01rem #000000 solid ;
                                  margin-top:1.2rem;
                                  background-color: #aad6d3;
                                  padding-right:0.5rem;
                                  padding-left:0.5rem;
}

.firstcon, .tcleft{display:none;}

.map{ width: 350px;
      padding-left:10%;
      padding-right:10%;
      padding-top: 20px;
}

.heatainer{
            display:flex;
            align-content: center;
            justify-content: center;
          
          }


h1 {color:white; 
font-size: 30px;
text-align: center;
padding-top:1rem;
margin-bottom: -1rem;
}

li {font-size: 14px;
margin-bottom:0px;}

#wp,#year,#whitelink {text-align: center; 
                  color:white;
                  padding-top:50px;}

#wp {
font-size: 12px;}

#yp {
      color:yellow;
      text-align:center; 
      font-size: 11px;
      

}

.responsive li:first-child {
  background-color:#000000;

}

.responsive a{color:#ffffff;}

.responsive li {
  display:block;
  background-color:#d71920;

}

.hero-div{margin: 10px auto;
          max-width: 100%;
          height: auto;
          
}

.hero-cd{
  position: absolute;
  width: 100px;
  height: 100px;
  font-size:10px;
  background:radial-gradient(#ffffff, #0a5750 );
  opacity: 0.80;
  margin-top: -111px;
  margin-left: 20px;
  padding:0.5rem;
  box-shadow: 0px 0px 10px 5px #000000;
}

div .hero-cd-heading {margin:0;
                      text-align:center;
                      border-bottom: solid;
                      border-width: 0.7px;
}
.scleft img{width: 350px;
  padding-left:10%;
  padding-right:10%;
  padding-top: 20px;
            

}

.article{text-align:justify;}
.AH3 {text-align:center;}
.details, .contacts{text-align: center;}

.current{background-color: #d71920;}

.scright, .scleft{margin: 0.51rem;}


.hero-image{
  display: block;
  margin:0;
  overflow: hidden;
  width: 100%;
  height: auto;

}

.scright h3 {margin-bottom:-1.3rem;}
.scright p em {font-size: 10px;}

#banner{  display:none;
          background-color: #f7b32b;
          height: 50px;
          border: solid;
          text-align: center;
          line-height: 1.5rem;
          font-size: 18px;
          }

